/* app css stylesheet */
.navbar-default {
background-image: none;
background-color: #1C3348;
}


.container {
    margin-left: -1%;
}

.container a {
    color: white;
    font-size: 16px;
}
.container ul {
margin-top: 1%;
}

.container li {
   display: inline;
   padding: 1% 0% 5% 2%;
}

.container img {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width:150px;
    height:50px;
    padding-right:20px;
}

#article {
    
    margin: 5% 10% 10% 10%;
    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.MobileSS {
    width: 313px;
    height: 557px;
    padding: 0px 20px 30px 20px;
}
.MobileSSfloat {
    width: 313px;
    height: 557px;
    padding: 0px 20px 30px 20px;
    float:left;
}

.panel {

}


